body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
                rgba(0, 0, 0, 0.719),
                rgba(0, 0, 0, 0.829)
              ),
              url('../imagenes/casas-inteligentes.webp') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  animation: aparecerBody 1.5s ease forwards;
}


.nosotros h1,
.nosotros h2 {
  font-size: 3.5rem;
  color: #ffffffe3;
  margin-bottom: 50px;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  animation: fadeInDown 1s ease forwards;
}


.nosotros h3 {
  font-size: 2.8rem;
  margin-top: 40px;
  color: #ffffe3;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  animation: fadeInDown 1.2s ease forwards;
}

.nosotros p {
  font-size: 1.5rem;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #ffffe3;
  text-align: justify;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  animation: fadeIn 1.5s ease forwards;
}


.valores-lista li {
  margin-bottom: 5px;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #ffffe3;
  padding: 14px 8px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: justify;
  text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Efecto al pasar el mouse sobre los valores */
.valores-lista li:hover {
  transform: scale(1.03);
  background-color: rgba(255, 255, 255, 0.08);
}

.contenedor-nosotros {
  max-width: 1200px; /* La caja ahora es un poco más ancha */
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.07);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  animation: aparecerCaja 1.8s ease forwards;
}

/* Banner de historia */
#historia.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('') no-repeat center center;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#historia .contenido {
  padding: 20px;
}

#historia .boton {
  display: inline-block;
  background-color: #10b981;
  color: #fff;
  padding: 14px 28px;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(16, 185, 129, 0.4);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover en el botón */
#historia .boton:hover {
  background-color: #059669;
  transform: scale(1.08);
}











body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
          rgba(0, 0, 0, 0.719),
          rgba(0, 0, 0, 0.829)
      ),
      url('imagenes/fondo de nosotros.png') no-repeat center center fixed; /* Nueva imagen de fondo */
  background-size: cover;
  color: #ffffff;
  animation: aparecerBody 1.5s ease forwards;
}





